    
.App {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #fafafa;
    padding-top: 4rem;
    min-height: 100vh;
  }

.navbar{
    background-color: #ef5350 !important;
}


/*in here I made some very small CSS adjustments, most of the stuff was styled with bootstrap in the js files */